<!--<section id="sidebar" [ngClass]="status ? 'hide' : ''">
   
    <ul class="side-menu top">
      
      <li>
        <a routerLink="/job">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Jobs</span>
        </a>
      </li>
      <li>
        <a routerLink="/build">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Build</span>
        </a>
      </li>
     
      <li>
        <a routerLink="/contact">
          <i class='bx bxs-group' ></i>
          <span class="text">Contact</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a routerLink="/settings">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      
    </ul>
  </section>-->



<div class="text-center hero my-5">
<p>Do select the specified JENKINS ACCOUNT from the dropdown which you want the details of the jobs present</p></div>

  
  <div class="dropdown btn dropdown-toggle">
    <button>Accounts</button>
    <ul class="dropdown-list">
      <li><a routerLink="/aafreen" >Aafreen</a></li>
      <li><a routerLink="/testjenkins" >TestJenkins</a></li>
      <li><a routerLink="/supriya">Surpiya</a></li>
    </ul>
  </div>


<div ><h2>TOTAL JOBS: 0<i class="bi bi-clipboard-data"></i></h2></div>

<table class="table">
  <thead>
    <tr>
      <th>_id</th>
      <th>_class</th>
      <th>Job Name</th>
      <th>Color</th>
      
      <!-- Add more columns for other job details if needed --> 
    </tr></thead>
    <tbody>
      <h3>Nothing to show!!!<i class="bi bi-emoji-expressionless"></i></h3>
      please select a JENKINS ACCOUNT from DROPDOWN
    </tbody>
  </table>


