<!--<section id="sidebar" [ngClass]="status ? 'hide' : ''">
   
    <ul class="side-menu top">
      
      <li>
        <a routerLink="/job">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Jobs</span>
        </a>
      </li>
      <li>
        <a routerLink="/build">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Build</span>
        </a>
      </li>
     
      <li>
        <a routerLink="/contact">
          <i class='bx bxs-group' ></i>
          <span class="text">Contact</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a routerLink="/settings">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      
    </ul>
  </section>-->







<div class="text-center hero my-5">

<p>Welcome to Settings Page!!!</p></div>