<div class="next-steps my-5">
    <h2 class="my-5 text-center">Salient Features of this Application</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
         
            <fa-icon [icon]="faLink"></fa-icon> Integrated with Jenkins
        
        </h6>
        <p>
          Helps to Trigger jobs remotely and also display various information such as the number of Jobs build.
          In Addition display the status and required parameters of various jobs. 
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
         
            <fa-icon [icon]="faLink"></fa-icon> Protected with Multifactor Authentication
          
        </h6>
        <p>
          Add an extra layer of security by enabling Multi-factor Authentication,
          requiring your users to provide more than one piece of identifying
          information. Push notifications, authenticator apps, SMS, and DUO
          Security are supported.
        </p>
      </div>
    </div>

   <!-- <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/anomaly-detection">
            <fa-icon [icon]="faLink"></fa-icon> Anomaly Detection
          </a>
        </h6>
        <p>
          Auth0 can detect anomalies and stop malicious attempts to access your
          application. Anomaly detection can alert you and your users of
          suspicious activity, as well as block further login attempts.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/rules">
            <fa-icon [icon]="faLink"></fa-icon> Learn About Rules
          </a>
        </h6>
        <p>
          Rules are JavaScript functions that execute when a user authenticates to
          your application. They run once the authentication process is complete,
          and you can use them to customize and extend Auth0's capabilities.
        </p>
      </div>
    </div>-->
  </div>
