<div class="text-center hero my-5">

  <h3>Welcome to the Jenkins Dashboard!!</h3><br>
<b><p>Navigate to the 
  <a routerLink="/job">JOB</a>to Trigger Jobs

</p></b>
<br>
<p>Navigate to the 
  <a routerLink="/build">BUILD</a>to know the status and count of Builds

</p>

</div>

<!--<section id="sidebar">
   
    <ul class="side-menu top">
      
      <li>
        <a routerLink="/job">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Jobs</span>
        </a>
      </li>
      <li>
        <a routerLink="/build">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Build</span>
        </a>
      </li>
     
      <li>
        <a routerLink="/contact">
          <i class='bx bxs-group' ></i>
          <span class="text">Contact</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a routerLink="/settings">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      
    </ul>
  </section>-->
 